<h1>Listing user_fundraisers</h1>

<table>
  <tr>
    <th>User</th>
    <th>Fundraiser</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_fundraisers.each do |user_fundraiser| %>
  <tr>
    <td><%= user_fundraiser.user_id %></td>
    <td><%= user_fundraiser.fundraiser_id %></td>
    <td><%= link_to 'Show', user_fundraiser %></td>
    <td><%= link_to 'Edit', edit_user_fundraiser_path(user_fundraiser) %></td>
    <td><%= link_to 'Destroy', user_fundraiser, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User fundraiser', new_user_fundraiser_path %>
